@charset "utf-8";
/* CSS Document */
header,nav,section,article,footer,figure{
	display:block;
}
.limpiar{
	clear:both;
}
body{
}
p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	margin:6px;
}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	margin:6px;
}
.textopie{
	color:#FFF;
	text-align:center;
}
a.enlacecpw{
	color:#0CB8F2;
	text-decoration:none;
}
.titulos-internos{
	font-family:"Times New Roman", Times, serif;
	font-size:59px;
	color:#999999;
	border-bottom:9px #00C6F7 solid;
	display:block;
}

/*---- Maquetacion -----*/
#contenido{
	width:1000px;
	margin:0 auto;
}
#cabecera{
	height:123px;
	display:block;
	background:url(../imagenes/logo.png) no-repeat center;
}
#menu{
	height:150px;
	margin-top:40px;
	padding-left:79px;
}
#piepagina{
	height:112px;
	margin-top:15px;
}
/*---- Menu principal -----*/
#menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
#menu li a{
	width:160px;
	height:160px;
	display:block;
	background:url(../imagenes/fondo-boton.png) no-repeat;
	background:linear-gradient(top,#6E3F5F,#CE3375);
	background:-moz-linear-gradient(top,#6E3F5F,#CE3375);
	background:-o-linear-gradient(top,#6E3F5F,#CE3375);
	background:-ms-linear-gradient(top,#6E3F5F,#CE3375);
	background:-webkit-linear-gradient(top,#6E3F5F,#CE3375);
	border-radius:10px;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFF;
	border: 1px  #000;
	text-align:center;
	text-decoration:none;
	margin-right:23px;
	padding-top:90px;
	position:relative;
	transition:transform 0.4s;
	-moz-transition:-moz-transform 0.4s;
	-ms-transition:-ms-transform 0.4s;
	-o-transition:-o-transform 0.4s;
	-webkit-transition:-webkit-transform 0.4s;
}
#menu li a:hover{
	transform:scale(1.3,1.3) rotate(20deg);
	-moz-transform:scale(1.3,1.3) rotate(20deg);
	-o-transform:scale(1.3,1.3) rotate(20deg);
	-ms-transform:scale(1.3,1.3) rotate(20deg);
	-webkit-transform:scale(1.3,1.3) rotate(20deg);
}
#menu li a #icono1{
	width:54px;
	height:54px;
	display:block;
	background:url(../imagenes/icono-cursos.png) no-repeat;
	position:absolute;
	left:48px;
	top:20px;
}
#menu li a:hover #icono1{
	
}
#menu li a #icono2{
	width:54px;
	height:54px;
	display:block;
	background:url(../imagenes/icono-videos.png) no-repeat;
	position:absolute;
	left:48px;
	top:20px;
}
#menu li a:hover #icono2{

}
#menu li a #icono3{
	width:74px;
	height:59px;
	display:block;
	background:url(../imagenes/icono-instructores.png) no-repeat;
	position:absolute;
	left:38px;
	top:16px;
}
#menu li a:hover #icono3{
	
}
#menu li a #icono4{
	width:72px;
	height:59px;
	display:block;
	background:url(../imagenes/icono-comprar.png) no-repeat;
	position:absolute;
	left:39px;
	top:16px;
}
#menu li a:hover #icono4{
	
}
#menu li a #icono5{
	width:63px;
	height:47px;
	display:block;
	background:url(../imagenes/icono-contacto.png) no-repeat;
	position:absolute;
	left:44px;
	top:27px;
}
#menu li a:hover #icono5{
	
}
/*--- Sociales ----*/
.sociales{
	width:180px;
	display:block;
	margin:0 auto;
	padding:0;
	list-style:none;
}
.sociales li a{
	width:38px;
	height:38px;
	display:block;
	float:left;
	margin-right:6px;
}
